@font-face { font-family: Abel; 
    src: url('../../fonts/Abel/Abel-Regular.ttf'); } 

#OverflowBtn{
    max-width: 10vw;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

p{
    font-family: Abel;
}

#cloutPrice{
    font-size: x-large;
}

#cloutBridge{
    font-size: xx-large;
}




