@font-face { font-family: Abel; 
    src: url('../../fonts/Abel/Abel-Regular.ttf'); } 

#spaceDiv{
    height: 100vh;
    border: solid 1px black;
}
#bridgeUserText
{
    font-family: Abel;
    font-size: 14pt;
}

#launchText{
    font-size: 48pt;
}

#launchCountdown{
    font-size: 36pt;
}

#bridgeHeader{
    font-size: 24pt;
    font-weight: bold;
    font-family: Abel;
}

#userConnected {
    font-family: Abel;
    font-size: 14pt;
}

#bridgeSegment{
    margin: auto;
    padding: 6vh;
    border-radius: 2em;
    width: 100%;
    height: 100%;
    border: .25vh grey solid;
}

#transferSegment{
    margin: auto;
    padding: 2vh;
    border-radius: 2em;
    width: 80%;
    height: 70%;
    border: .25vh grey solid;
    box-shadow: -.2vw .4vh .2vw grey;
}
#userUnbridge, #userBridge{
    padding-top: 4vh;
}

#spacer{
    height: 1vh;
}

#transparencyComponent{
    margin: auto;
    padding: 2vh;
    border-radius: 2em;
    width: 100%;
    border: .25vh grey solid;
}

#transparencyHeader{
    font-family: Abel;
    font-size: 24pt;
    font-weight: bold;
}

#transparencyContent{
    font-family: Abel;
    font-size: 14pt;
    font-weight: bold;
}