@font-face { font-family: Abel; 
    src: url('../../fonts/Abel/Abel-Regular.ttf'); } 

#sideBar{
    margin-top: 6vh;
    border: 1px solid black;
}

#farm{

}


#mainDiv{
    flex: auto;
    border: 1px black;
}

p{
 font-family: Abel;
}