@font-face { font-family: Abel; 
    src: url('../../fonts/Abel/Abel-Regular.ttf'); } 

#smallSpace{
    height: 5vh;
}

#smallSpace2{
    height: 2vh;
}

#marginleft{
    margin-left: 2vw;
}

#smallerSpace{
    height: 1vh;
}

#heading1{
    font-size: xx-large;
}

#heading2{
    font-size: x-large;
}

p{
    font-family: Abel;
}